### Connecting to Database of MySQL:

In [1]:
import mysql.connector

In [3]:
conn = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "mysql",
    database = "hospital_management_system"
)
cursor = conn.cursor()

#### Showing All the Tables in the hospital_management_system:

In [6]:
cursor.execute("show tables")
Table_name = cursor.fetchall()
for i in Table_name:
    for a in i:
        print(a)    ## where a is a random alphabet iterator that shows the particular table name.

appointments
billing
doctors
medicalrecords
patients

#### Patients Table Description :

In [9]:
cursor.execute("desc patients")
Column_name = cursor.fetchall()
for i in Column_name:
    print(i)

('patient_id', 'int', 'NO', 'PRI', None, 'auto_increment')
('patient_name', 'varchar(60)', 'YES', '', None, '')
('age', 'int', 'NO', '', None, '')
('gender', "enum('Male','Female')", 'NO', '', None, '')
('address', 'varchar(255)', 'YES', '', None, '')
('contact_number', 'varchar(15)', 'NO', 'UNI', None, '')
('medical_history', 'text', 'YES', '', None, '')

## Retrieving Data of Patients Table as DataFrame :

In [11]:
import pandas as pd
import sqlalchemy
engine = sqlalchemy.create_engine(f"mysql+pymysql://{"root"}:{"mysql"}@{"localhost"}/{"hospital_management_system"}")

In [337]:
def view_patients():
    patient = pd.read_sql("Select * from Patients",engine, index_col=["patient_id"]) 
    return(patient)

In [339]:
view_patients()

,patient_name,age,gender,address,contact_number,medical_history
patient_id,,,,,,
2,Ramesh Iyer 2,52,Male,Jaipur,9899653422,None
3,Deepika Reddy 3,82,Female,Hyderabad,9307924191,Asthma
4,Priya Kapoor 4,77,Male,Chennai,9748276329,Corona
5,Rahul Sharma 5,37,Male,Jaipur,9240114653,Asthma
6,Pooja Thakur 6,77,Female,Pune,9148271369,Heart Disease
...,...,...,...,...,...,...
501,Roxx,28,Male,Mumbai,9375672652,Anxiety disorder
503,Roxxx,28,Male,Mumbai,9373472652,Anxiety disorder
505,Jazz,33,Male,Mumbai,9373472432,Night Blindness
506,Naina Singh,34,Female,Varansi,9876543765,Normal
507,Shaniel Reddy,43,Female,Possession,8798654634,Abnormal

### Adding New patients :

In [241]:
def add_patient():
    patient_name = input("Enter Patient Name: ")
    age = input("Enter Age: ")
    gender = input("Enter Gender (M/F): ")
    contact_number = input("Enter Contact Number: ")
    medical_history = input("Enter Medical_history: ")
    address = input("Enter Address: ")
    
    query = "INSERT INTO patients (patient_name, age, gender, address,	contact_number,	medical_history) VALUES (%s, %s, %s, %s, %s, %s)"

    values = (patient_name, age, gender, address, contact_number, medical_history)
    cursor.execute(query, values)
    conn.commit()
    print("Patient added successfully!")

### Updating Medical_History :

In [349]:
def update_patient():
    patient_id = input("Enter Patient_id :")
    medical_history = input("Enter Disease :")
    query = "UPDATE patients SET medical_history = %s WHERE patient_id = %s"
    values = (medical_history, patient_id)
    cursor.execute(query, values)
    conn.commit()
    print(f"Patient ID {patient_id} updated successfully!")

In [351]:
update_patient()

Enter Patient_id : 34
Enter Disease : corona

Patient ID 34 updated successfully!

### Deleting Patient Details :

In [363]:
def delete_patient():
    patient_id = input("Enter Patient_id No -")
    query = "DELETE FROM patients WHERE patient_id = %s"
    values = (patient_id,)
    cursor.execute(query, values)
    conn.commit()
    print(f"Patient ID {patient_id} deleted successfully!")

In [367]:
delete_patient()

Enter Patient_id No - 1

Patient ID 1 deleted successfully!

### Function to manage patients :

In [306]:

def manage_patients():
    print("\n--- Patient Management ---")
    print("1. Add Patient")
    print("2. View Patients")
    print("3. Update Patient")
    print("4. Delete Patient")
    choice = input("Enter your choice: ")
    
    if choice == "1":
        add_patient()
    elif choice == "2":
        return(view_patients())
    elif choice == "3":
        update_patient()
    elif choice == "4":
        delete_patient()
    else:
        print("Invalid choice! Returning to main menu.")

In [415]:
manage_patients()

--- Patient Management ---
1. Add Patient
2. View Patients
3. Update Patient
4. Delete Patient

Enter your choice:  4
Enter Patient_id No - 1

Patient ID 1 deleted successfully!

## Retrieving Doctors Table :

In [441]:
def view_doctor():
    doctor_df = pd.read_sql("Select * from Doctors",engine,index_col=["Dr_id"])
    return(doctor_df)

In [445]:
view_doctor()

                     Dr_name     specialization contact_number  availability
Dr_id
1          Dr. Sameer Khan 1        Neurologist     9106026779  10 AM - 6 PM
2         Dr. Kunal Sharma 2  General Physician     9191537940   9 AM - 5 PM
3       Dr. Rohan Malhotra 3     ENT Specialist     9298201934   9 AM - 3 PM
4          Dr. Sameer Khan 4       Cardiologist     9598207477   9 AM - 5 PM
5         Dr. Vikram Sinha 5       Psychiatrist     9344413285   9 AM - 3 PM
6          Dr. Meena Reddy 6        Neurologist     9486598954   9 AM - 3 PM
7          Dr. Sameer Khan 7         Oncologist     9643258922  11 AM - 7 PM
8       Dr. Rohan Malhotra 8       Cardiologist     9464786603   9 AM - 3 PM
9          Dr. Meena Reddy 9  General Physician     9146103537  10 AM - 6 PM
10     Dr. Rohan Malhotra 10    Ophthalmologist     9092012662   8 AM - 4 PM
11     Dr. Rohan Malhotra 11     ENT Specialist     9973327572  10 AM - 6 PM
12        Dr. Sameer Khan 12         Orthopedic     9475564519   9 AM - 3 PM
13        Dr. Aditi Joshi 13      Dermatologist     9186335216   9 AM - 3 PM
14       Dr. Anjali Mehta 14       Pediatrician     9011280556   9 AM - 3 PM
15        Dr. Meena Reddy 15       Psychiatrist     9814381699  10 AM - 6 PM
16         Dr. Sunita Das 16      Dermatologist     9654318829  11 AM - 7 PM
17        Dr. Pooja Desai 17     ENT Specialist     9784774237  10 AM - 6 PM
18        Dr. Sameer Khan 18     ENT Specialist     9569084015   8 AM - 4 PM
19         Dr. Rajiv Nair 19         Oncologist     9097018615   9 AM - 3 PM
20        Dr. Meena Reddy 20         Orthopedic     9674839642   8 AM - 4 PM
21        Dr. Sameer Khan 21       Psychiatrist     9987688900  11 AM - 7 PM
22        Dr. Pooja Desai 22       Pediatrician     9317413374   8 AM - 4 PM
23        Dr. Pooja Desai 23     ENT Specialist     9488821681   9 AM - 3 PM
24        Dr. Pooja Desai 24    Ophthalmologist     9676689434   9 AM - 3 PM
25       Dr. Kunal Sharma 25         Oncologist     9406341625   9 AM - 5 PM
26        Dr. Aditi Joshi 26        Neurologist     9565316755   9 AM - 3 PM
27       Dr. Vikram Sinha 27     ENT Specialist     9149739034   9 AM - 3 PM
28     Dr. Rohan Malhotra 28       Psychiatrist     9238801627   9 AM - 5 PM
29        Dr. Meena Reddy 29  General Physician     9842873456   8 AM - 4 PM
30         Dr. Sunita Das 30         Oncologist     9548531318   9 AM - 5 PM
31     Dr. Rohan Malhotra 31     ENT Specialist     9846374721   9 AM - 5 PM
32       Dr. Kunal Sharma 32      Dermatologist     9479042282   9 AM - 3 PM
33        Dr. Aditi Joshi 33        Neurologist     9571857051  10 AM - 6 PM
34        Dr. Aditi Joshi 34       Cardiologist     9046368797   8 AM - 4 PM
35         Dr. Rajiv Nair 35        Neurologist     9452203650  11 AM - 7 PM
36        Dr. Aditi Joshi 36       Psychiatrist     9817498123   9 AM - 3 PM
37         Dr. Sunita Das 37      Dermatologist     9047269378   9 AM - 3 PM
38        Dr. Meena Reddy 38         Oncologist     9380865715  10 AM - 6 PM
39       Dr. Vikram Sinha 39       Pediatrician     9759239751   8 AM - 4 PM
40       Dr. Kunal Sharma 40    Ophthalmologist     9135590200  11 AM - 7 PM
41        Dr. Pooja Desai 41  General Physician     9372180080   9 AM - 3 PM
42         Dr. Rajiv Nair 42       Psychiatrist     9304688245   9 AM - 3 PM
43       Dr. Anjali Mehta 43      Dermatologist     9153194207   9 AM - 5 PM
44       Dr. Kunal Sharma 44       Pediatrician     9573026415   9 AM - 3 PM
45       Dr. Kunal Sharma 45  General Physician     9735678503   8 AM - 4 PM
46        Dr. Sameer Khan 46         Orthopedic     9238863147  11 AM - 7 PM
47       Dr. Anjali Mehta 47       Psychiatrist     9151874426   9 AM - 5 PM
48        Dr. Meena Reddy 48  General Physician     9905558113   9 AM - 5 PM
49       Dr. Vikram Sinha 49       Pediatrician     9339940241   8 AM - 4 PM
50       Dr. Kunal Sharma 50     ENT Specialist     9431514111   8 AM - 4 PM
51              Sajid kamath        Counselling     9387678947    7pm - 11pm

### Adding New Doctors :

In [431]:
def add_doctor():
    Dr_name = input(" Dr. Name :")
    specialization = input("specialization :")
    contact_number = input("Contact number :")
    availability = input("Availability :")
    query = "Insert into doctors(Dr_name, specialization, contact_number, availability) values(%s,%s,%s,%s)"
    values = (Dr_name, specialization, contact_number, availability)
    cursor.execute(query, values)
    conn.commit()
    print("Added Successfully")

In [429]:
add_doctor()

 Dr. Name : Sajid kamath
 specialization : Counselling
Contact number : 9387678947
Availability : 7pm - 11pm

Added Successfully

### Deleting Doctor :

In [467]:
def delete_doctor():
    Dr_id = input("Dr.id -")
    query = "delete from Doctors where Dr_id = %s"
    values = (Dr_id,)
    cursor.execute(query,values)
    conn.commit()
    print("Doctor details deleted successfully")

In [469]:
delete_doctor()

Dr.id - 51

Doctor details deleted successfully

### Function to Manage Doctors :

In [453]:
def manage_doctors():
    print("\n--- Doctors Management ---")
    print("1.View Doctors")
    print("2.Add Doctor")
    print("3.Delete Doctor")
    choice = input("Choose Option")
    
    if choice == "1":
        return(view_doctor())
    elif choice == "2":
        add_doctor()
    elif choice == "3":
        delete_doctor()
    else:
        print("Invalid choice! Returning to main menu.")

In [ ]:
manage_doctors()

## Retrieving Appointments Table :

In [71]:
Appointment_df = pd.read_sql("Select * from appointments", engine,index_col = ["appointment_id"])
Appointment_df

                patient_id  doctor_id appointment_date     status
appointment_id
1                      444         12       2025-03-15  Cancelled
2                      232          8       2025-10-05  Cancelled
3                      353         38       2025-12-22  Completed
4                      122         48       2025-08-10  Completed
5                      439          7       2025-04-04  Completed
...                    ...        ...              ...        ...
996                     69         48       2025-01-01  Completed
997                     62         47       2025-11-07  Cancelled
998                    404         50       2025-01-25  Cancelled
999                    171         18       2025-01-13  Scheduled
1000                   408         49       2025-08-09  Cancelled

[1000 rows x 4 columns]

### Adding New Appointment :

In [58]:
def add_appointment():
    patient_id = input("Enter Patient ID: ")
    doctor_id = input("Enter Doctor ID: ")
    appointment_date = input("Enter Appointment Date & Time (YYYY-MM-DD): ")
    status = input("Enter Status (Scheduled/Completed/Cancelled): ")
    
    query = "INSERT INTO Appointments (patient_id, doctor_id, appointment_date, status) VALUES (%s, %s, %s, %s)"
    values = (patient_id, doctor_id, appointment_date, status)
    
    cursor.execute(query, values)
    conn.commit()
    print("Appointment added successfully!")

### Updating Appointment :

In [46]:
def update_appointment():
    appointment_id = input("Enter Appointment ID to update: ")
    new_status = input("Enter new status (Scheduled/Completed/Cancelled): ")

    query = "UPDATE Appointments SET status = %s WHERE appointment_id = %s"
    values = (new_status, appointment_id)
    
    cursor.execute(query, values)
    conn.commit()
    print("Appointment updated successfully!")

### Deleting Appointment :

In [44]:
def delete_appointment():
    appointment_id = input("Enter Appointment ID to delete: ")
    
    query = "DELETE FROM Appointments WHERE appointment_id = %s"
    cursor.execute(query, (appointment_id,))
    conn.commit()
    
    print("Appointment deleted successfully!")

### Searching an Existing Appointment :

In [37]:
def search_appointment():
    appointment_id = input("Enter Appointment ID to search: ")
    
    query = "SELECT * FROM Appointments WHERE appointment_id = %s"
    cursor.execute(query, (appointment_id,))
    appointment = cursor.fetchone()
    
    if appointment:
        print(f"ID: {appointment[0]}, Patient ID: {appointment[1]}, Doctor ID: {appointment[2]},Appointment_date: {appointment[3]}, Status: {appointment[4]}")
    else:
        print("Appointment not found.")

## Function to Manage Appointment Table :

In [54]:
# Menu Function
def appointment_menu():
        print("\n--- Appointment Management ---")
        print("1. Add Appointment")
        print("2. Update Appointment")
        print("3. Delete Appointment")
        print("4. Search Appointment")
        print("5. Exit")
        
        choice = input("Enter your choice: ")
        
        if choice == "1":
            add_appointment()
        elif choice == "2":
            update_appointment()
        elif choice == "3":
            delete_appointment()
        elif choice == "4":
            search_appointment()
        elif choice == "5":
            print("Exiting...")
        else:
            print("Invalid choice! Please try again.")

In [62]:
# Run the menu
appointment_menu()

--- Appointment Management ---
1. Add Appointment
2. Update Appointment
3. Delete Appointment
4. Search Appointment
5. Exit

Enter your choice:  1
Enter Patient ID:  8
Enter Doctor ID:  8
Enter Appointment Date & Time (YYYY-MM-DD):  2025-3-28
Enter Status (Scheduled/Completed/Cancelled):  Cancelled

Appointment added successfully!

### Inserting New Appointments :

In [76]:
def insert_appointments(patient_id, doctor_id, appointment_date, status):
    query = "Insert into Appointments(patient_id, doctor_id, appointment_date, status) values(%s,%s,%s,%s)"
    values = (patient_id, doctor_id, appointment_date, status)
    cursor.execute(query,values)
    conn.commit()
    print(f"Appointment Registered Successfully")

In [80]:
insert_appointments(501,23, "2025-2-28", "Scheduled")

Appointment Registered Successfully

### Updating Appointments

In [91]:
def update_appointment(patient_id, status):
    query = "update appointments SET status = %s where patient_id = %s"
    values= (status, patient_id)
    cursor.execute(query, values)
    conn.commit()
    print("Appointment Status Updated")

In [93]:
update_appointment(501,"Scheduled")

Appointment Status Updated

## Retrieving Billing Table :

In [158]:
def view_billing_records():
    Billing_df = pd.read_sql("Select * from billing",engine,index_col=["Bill_id"])
    return(Billing_df)

In [160]:
view_billing_records()

         patient_id  appointment_id  total_amount payment_status
Bill_id
1               175             745         719.0        Pending
2               198             177        4458.0        Pending
3               144              72        3026.0         Failed
4               304             505        1684.0        Pending
5               194              32        3241.0           Paid
...             ...             ...           ...            ...
697             413             590        3908.0        Pending
698              87             298        2540.0           Paid
699             445             896        4329.0           Paid
700             162             934        4610.0           Paid
701             501              32        3000.0           Paid

[694 rows x 4 columns]

### Function to Add New Billing Record :

In [179]:
def add_billing_record():
    patient_id = input("Enter Patient ID: ")
    total_amount = input("Enter Billing Amount: ")
    payment_status = input("Enter Payment Status (Paid/Pending): ")
    appointment_id = input("Enter Appointment Id :")

    query = "INSERT INTO billing (patient_id, total_amount, payment_status, appointment_id) VALUES (%s, %s, %s, %s)"
    values = (patient_id, total_amount, payment_status,  appointment_id)

    cursor.execute(query, values)
    conn.commit()
    print("Billing record added successfully.")

### Function to Search For Billings :

In [165]:
def search_billing_record():
    Bill_id = input("Enter Billing ID to search: ")

    query = "SELECT * FROM billing WHERE Bill_id = %s"
    cursor.execute(query, (Bill_id,))
    record = cursor.fetchone()

    if record:
        print(f"ID: {record[0]}, Patient ID: {record[1]}, Amount: {record[2]}, Status: {record[3]}, Date: {record[4]}")
    else:
        print("Billing record not found.")

### Function to Update Billing Record:

In [189]:
def update_billing_record():
    bill_id = input("Enter Billing ID to update: ")
    total_amount = input("Enter New Billing Amount: ")
    payment_status = input("Enter New Payment Status (Paid/Pending): ")

    query = "UPDATE billing SET total_amount = %s, payment_status = %s WHERE bill_id = %s"
    values = (total_amount, payment_status, bill_id)

    cursor.execute(query, values)
    conn.commit()

    if cursor.rowcount > 0:
        print("Billing record updated successfully.")
    else:
        print("Billing record not found.")

### Function to Delete Billing record :

In [167]:
def delete_billing_record():
    bill_id = input("Enter Billing ID to delete: ")

    query = "DELETE FROM billing WHERE bill_id = %s"
    cursor.execute(query, (bill_id,))
    conn.commit()

    if cursor.rowcount > 0:
        print("Billing record deleted successfully.")
    else:
        print("Billing record not found.")

## Function for Billing menu :

In [171]:
def billing_menu():
        print("\n--- Billing Menu ---")
        print("1. View All Billing Records")
        print("2. Search Billing Record")
        print("3. Add New Billing Record")
        print("4. Update Billing Record")
        print("5. Delete Billing Record")
        print("6. Back to Main Menu")

        choice = input("Enter your choice: ")

        if choice == "1":
            return(view_billing_records())
        
        elif choice == "2":
            search_billing_record()
        
        elif choice == "3":
            add_billing_record()
        
        elif choice == "4":
            update_billing_record()
        
        elif choice == "5":
            delete_billing_record()
        
        elif choice == "6":
            print("Returning to Main Menu...")       
        else:
            print("Invalid choice. Please try again.")

In [197]:
billing_menu()

--- Billing Menu ---
1. View All Billing Records
2. Search Billing Record
3. Add New Billing Record
4. Update Billing Record
5. Delete Billing Record
6. Back to Main Menu

Enter your choice:  9

Invalid choice. Please try again.

#### Groupby Function on Billing :

In [127]:
Billing_df.groupby(by=["patient_id","payment_status"])[["total_amount"]].sum()

                           total_amount
patient_id payment_status
5          Pending                531.0
6          Paid                  1962.0
7          Pending               3689.0
8          Paid                  1635.0
9          Failed                2613.0
...                                 ...
494        Failed                 719.0
           Pending               4168.0
495        Failed                1553.0
           Paid                  4416.0
498        Paid                  4268.0

[555 rows x 1 columns]

## Retrieving Medicalrecords Table :

In [103]:
def view_medical_records():
    Medicalrecords =  pd.read_sql("Select * from medicalrecords",engine, index_col=["record_id"])
    return(Medicalrecords)

In [105]:
view_medical_records()

,patient_id,doctor_id,diagnosis,prescription,test_results
record_id,,,,,
1,233,34,None,Vitamin Supplements,X-ray positive
2,142,10,Diabetes,Vitamin Supplements,Normal
3,114,44,Diabetes,"Medicine A, Medicine B",Blood test abnormal
4,199,27,heart disease,medicine D,Abnormal
5,106,40,Migraine,"Painkillers, Rest",Blood test abnormal
...,...,...,...,...,...
803,80,34,Alziemer,"Take rest, fluoxenithine",Abnormal
804,80,34,Alziemer,"Take rest, fluoxenithine",Abnormal
805,81,34,Alziemer,"Take rest, fluoxenithine",Abnormal
807,501,34,Alziemer,"Take rest, fluoxenithine",Abnormal
809,10,34,Alziemer,"Take rest, fluoxenithine",Abnormal

### Function To Insert Medical records :

In [119]:
def insert_medrecord():
    patient_id = input("Enter Patient Id :")
    doctor_id = input("Enter Doctor_id :")
    diagnosis = input("Enter Diagnosed with :")
    prescription = input("Enter Prescription :")
    test_results = input("Enter Test Results :")
    query = "Insert into medicalrecords(patient_id, doctor_id, diagnosis, prescription,	test_results) Values(%s,%s,%s,%s,%s)"
    Values = (patient_id, doctor_id, diagnosis, prescription,	test_results)
    cursor.execute(query, Values)
    conn.commit()
    print("Medrecords Added Successfully")

### Function to Update Medica records :

In [122]:
def update_medrecord():
    diagnosis = input("Enter Diagnosed Wtih :")
    prescription = input("Enter Prescription :")
    record_id = input("Enter Record Id :")
    patient_id = input("Enter Patient ID :")
    query = "UPDATE medicalrecords SET diagnosis = %s, prescription = %s WHERE record_id = %s AND patient_id = %s"
    values =  (diagnosis, prescription,record_id, patient_id)
    cursor.execute(query, values)
    conn.commit()

    # Check if any row was updated
    if cursor.rowcount == 0:
        print("Error: No matching record found for the given Record_id and Patient_id!")
    else:
        print("Updated Successfully")

In [93]:
update_medrecord()

Enter Diagnosed Wtih : heart disease
Enter Prescription : medicine D
Enter Record Id : 4
Enter Patient ID : 199

Updated Successfully

### Function to delete a medical record

In [128]:
def delete_medical_record():
    record_id = input("Enter Medical Record ID to delete: ")
    
    query = "DELETE FROM medicalrecords WHERE record_id = %s"
    cursor.execute(query, (record_id,))
    conn.commit()
    
    print("Medical record deleted successfully!")

### Function to search for a medical record

In [148]:
def search_medical_record():
    record_id = input("Enter Medical Record ID to search: ")
    
    query = "SELECT * FROM medicalrecords WHERE record_id = %s"
    cursor.execute(query, (record_id,))
    medicalrecords = cursor.fetchone()
    
    if medicalrecords:
        print(f"ID: {medicalrecords[0]}, Patient ID: {medicalrecords[1]}, Diagnosis: {medicalrecords[2]}, Treatment: {medicalrecords[3]}, Medicine: {medicalrecords[4]}, Date: {medicalrecords[5]}")
    else:
        print("Medical record not found.")

In [124]:
# Menu Function
def medical_records_menu():
        print("\n--- Medical Records Management ---")
        print("1. Add Medical Record")
        print("2. Update Medical Record")
        print("3. Delete Medical Record")
        print("4. View Medical Records")
        print("5. Search Medical Record")
        print("6. Exit")
        
        choice = input("Enter your choice: ")
        
        if choice == "1":
            insert_medrecord()
        elif choice == "2":
            update_medrecord()
        elif choice == "3":
            delete_medical_record()
        elif choice == "4":
            return(view_medical_records())
        elif choice == "5":
            search_medical_record()
        elif choice == "6":
            print("Exiting...")
        else:
            print("Invalid choice! Please try again.")

In [152]:
# Run the menu
medical_records_menu()

--- Medical Records Management ---
1. Add Medical Record
2. Update Medical Record
3. Delete Medical Record
4. View Medical Records
5. Search Medical Record
6. Exit

Enter your choice:  5
Enter Medical Record ID to search:  45

ID: 45, Patient ID: 133, Diagnosis: 12, Treatment: Hypertension, Medicine: Medicine A, Medicine B, Date: X-ray positive

# Setting up Menu Function :

In [201]:
def display_menu():
    print("\n===== HOSPITAL MANAGEMENT SYSTEM =====")
    print("1. Manage Patients")
    print("2. Manage Doctors")
    print("3. Manage Appointments")
    print("4. Manage Billing")
    print("5. Manage MedicalRecords")
    print("6. Exit")

In [203]:
display_menu()

===== HOSPITAL MANAGEMENT SYSTEM =====
1. Manage Patients
2. Manage Doctors
3. Manage Appointments
4. Manage Billing
5. Manage MedicalRecords
6. Exit

In [373]:
manage_patients()

--- Patient Management ---
1. Add Patient
2. View Patients
3. Update Patient
4. Delete Patient

Enter your choice:  4
Enter Patient_id No - 88

Patient ID 88 deleted successfully!